#solution{
    .container{
        .row{
            .col-xl-8{
                p{
                    padding-top: 30px;
                }
            }
            .total-list{
                padding-left: 30px;

                ul{
                    transform: translateX(-25px);
                    padding-top: 30px;
                    li{
                        list-style: none;
                        background-color:white;
                        padding-left: 10px;
                        a{
                            color: $text-color;
                            display: flex;
                            justify-content: space-between;
                            text-decoration: none;
                            padding-bottom: 15px;
                            .left-part{
                                padding-top: 10px;
                                padding-bottom: 10px;
                                transition: all 0.3s ease;
                                i{
                                    padding-left: 10px;
                                    padding-right: 20px;
                                }
                            }
                            &:hover .left-part{
                                padding-left: 10px;  
                            }
                        }
                    }
                }
            }
            .contact-item{
                // padding-left: 30px;
                margin-left: 40px;
                width: 284px;
            }
        }
    }
}
